h1::first-letter{
    font-size: 2em;
    font-style: italic;
}

p::first-line{
    background-color: rgb(255, 255, 200);
}

p::selection{
    color: white;
    background-color: rgb(9, 87, 61);
}

#fruit li::before{
    content: "✅";
}

#apple::after {
    content: "🍎";
}

#orange::after {
    content: "🟠";
}

#banana::after {
    content: "🍌";
}

#fruit li::marker{
    content: "👍";
}